<div class="container d-flex flex-column align-items-center mt-5">
    <p style="font-size: 36px; font-weight: bold">Bienvenue {{ sessionService.userSession.username | uppercase }} </p>

    <img src="../../../assets/aide.png" width="1133" height="443" class="d-inline-block align-top" alt=""/>
    <div>
        <a style="font-size: 16px; font-weight: bold" routerLink="/chat">Nouveau ! Démarrrer un chat conversationnel
            avec le support client </a>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right"
             viewBox="0 0 16 16">
            <path fill-rule="evenodd"
                  d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"/>
        </svg>
    </div>
</div>